.snowflake {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -40px;
  cursor: pointer;
}
.snowflake.mouseover {
  transform: scale(2);
  transition: transform 2s;
}

@keyframes fall {
  from {
  }
  to {
    transform: translateY(100vh);
    opacity: 0;
  }
}
